/** common rules **/
/**
 * variables for all patial files.
**/
/*
 * ##### Sasson - advanced drupal theming. #####
 *
 * SASS mixins
 * http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#mixins
 *
*/
/*===================== Media Queries mixing ======================*/
/** common rules for site **/
/* line 2, ../sass/partials/_common.scss */
body {
  color: #6e6e6e;
  margin: 0;
  font-family: "Titillium Web",sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
}

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/FontAwesome.otf');
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.woff');
  src: url('../fonts/fontawesome-webfont.ttf');
}

@font-face {
  font-family: "Titillium Web Regular";
  src: url('../fonts/TitilliumWeb-Regular.otf');
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.woff');
  src: url('../fonts/TitilliumWeb-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Titillium Web SemiBold";
  src: url('../fonts/TitilliumWeb-SemiBold.otf');
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.woff');
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
  font-weight: 600;
}

/* line 37, ../sass/partials/_common.scss */
*, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* line 42, ../sass/partials/_common.scss */
*:focus, *:visited {
  outline: none;
  outline-style: none;
}

/* line 47, ../sass/partials/_common.scss */
.container {
  padding: 0;
  width: 1160px;
}

/* line 52, ../sass/partials/_common.scss */
p {
  margin: 0.7em 0 0 0;
}

/* line 56, ../sass/partials/_common.scss */
.main-container {
  min-height: 520px;
}

/* line 61, ../sass/partials/_common.scss */
a:hover {
  text-decoration: none;
}

/* line 67, ../sass/partials/_common.scss */
.total-count span:before {
  content: "\f06e";
}

/* line 73, ../sass/partials/_common.scss */
.comment-count span:before {
  content: "\f086";
}

/* line 80, ../sass/partials/_common.scss */
.comment-count span:before,
.total-count span:before {
  display: inline-block;
  font-family: "FontAwesome";
  font-weight: normal;
  padding-right: .3em;
}

/* line 90, ../sass/partials/_common.scss */
.total-count,
.like-count,
.comment-count {
  float: left;
  margin: .5em .7em .5em 0;
}
@media (max-width: 1024px) {
  /* line 90, ../sass/partials/_common.scss */
  .total-count,
  .like-count,
  .comment-count {
    margin-right: .5em;
  }
}
/* line 96, ../sass/partials/_common.scss */
.total-count span,
.like-count span,
.comment-count span {
  font-size: 1.6rem;
  color: #666666;
  text-transform: uppercase;
  font-family: "Titillium Web SemiBold", sans-serif;
}

/* line 104, ../sass/partials/_common.scss */
.like-count {
  margin-right: 0;
}

/* line 108, ../sass/partials/_common.scss */
#subscribe-flag {
  float: left;
}
/* line 110, ../sass/partials/_common.scss */
#subscribe-flag a {
  display: none;
}
/* line 112, ../sass/partials/_common.scss */
#subscribe-flag a.flag {
  background: #535353;
  color: white;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.24rem;
  letter-spacing: 0;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
  display: block !important;
}
@media (max-width: 768px) {
  /* line 108, ../sass/partials/_common.scss */
  #subscribe-flag {
    float: right;
  }
}

/* line 122, ../sass/partials/_common.scss */
.video-title {
  height: 3.3em;
}
@media (max-width: 1024px) {
  /* line 122, ../sass/partials/_common.scss */
  .video-title {
    height: 4.8em;
  }
}
@media (max-width: 768px) {
  /* line 122, ../sass/partials/_common.scss */
  .video-title {
    height: auto;
  }
}
/* line 130, ../sass/partials/_common.scss */
.video-title a {
  color: #999999;
  display: block;
  font-size: 1.8rem;
  font-family: "Titillium Web SemiBold", sans-serif;
  margin-top: .5em;
  line-height: 1.2em;
  text-decoration: none;
}

/* line 141, ../sass/partials/_common.scss */
.duration-time {
  background: black;
  bottom: 48%;
  line-height: 20px;
  padding: 0 0.2em 0.2em;
  position: absolute;
  right: 5px;
}
@media (max-width: 1024px) {
  /* line 141, ../sass/partials/_common.scss */
  .duration-time {
    bottom: 58%;
  }
}
@media (max-width: 768px) {
  /* line 141, ../sass/partials/_common.scss */
  .duration-time {
    bottom: 7%;
    right: 5%;
  }
}
/* line 155, ../sass/partials/_common.scss */
.duration-time .field-content {
  color: #a8a8a6;
  font-family: "Titillium Web Regular", sans-serif;
  font-size: 1.8rem;
}

/* line 163, ../sass/partials/_common.scss */
.channelname a {
  color: #990000;
  display: block;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 3rem;
}

/* line 171, ../sass/partials/_common.scss */
.video-count {
  color: #666666;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.2rem;
  margin-top: .5em;
}

/* line 178, ../sass/partials/_common.scss */
.channeldescipton {
  height: 6.5em;
  margin: 1em 0 .5em 0;
}
/* line 181, ../sass/partials/_common.scss */
.channeldescipton p {
  color: #666666;
  font-family: "Titillium Web Regular", sans-serif;
  font-size: 1.8rem;
  margin: 0;
}

/* line 190, ../sass/partials/_common.scss */
.channel-image img {
  border: 1px solid #ececec;
}

/* line 196, ../sass/partials/_common.scss */
.subscribe-button a {
  background: #535353;
  color: white;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.24rem;
  letter-spacing: 0;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
}

/* line 203, ../sass/partials/_common.scss */
.detail-page-comment .add-comment a {
  color: #990000;
  display: block;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.8rem;
  margin-top: 1em;
}
/* line 210, ../sass/partials/_common.scss */
.detail-page-comment .add-comment .comment_Closed {
  display: none;
}
/* line 214, ../sass/partials/_common.scss */
.detail-page-comment .comment-list {
  margin-top: 2em;
}
/* line 216, ../sass/partials/_common.scss */
.detail-page-comment .comment-list h2 {
  display: none;
}
/* line 220, ../sass/partials/_common.scss */
.detail-page-comment .links {
  float: right;
  margin-bottom: 1em;
}
/* line 223, ../sass/partials/_common.scss */
.detail-page-comment .links a {
  background: #535353;
  color: white;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.24rem;
  letter-spacing: 0;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
  padding: 0 .3em;
}
/* line 228, ../sass/partials/_common.scss */
.detail-page-comment .submitted {
  font-style: normal;
}
/* line 231, ../sass/partials/_common.scss */
.detail-page-comment .comment {
  border-bottom: 1px solid #b1b1b1;
}
/* line 234, ../sass/partials/_common.scss */
.detail-page-comment .indented {
  margin: 0 0 1em 2em;
}
/* line 236, ../sass/partials/_common.scss */
.detail-page-comment .indented .comment {
  border-bottom: 1px solid #d8d8d8;
}
/* line 241, ../sass/partials/_common.scss */
.detail-page-comment .confirmation a {
  background: #535353;
  color: white;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.24rem;
  letter-spacing: 0;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
  padding: .1em 1.5em;
  display: inline-block;
  margin: 1em 0 0 1em;
}
/* line 247, ../sass/partials/_common.scss */
.detail-page-comment .confirmation .form-submit {
  margin-top: 0;
}

/*** Responsive css rules ***/
@media (max-width: 1159px) {
  /* line 257, ../sass/partials/_common.scss */
  .navbar.container,
  .container {
    width: 92%;
  }
}
@media (max-width: 1024px) {
  /* line 267, ../sass/partials/_common.scss */
  .channel-video-listing img,
  .latest-activity img,
  .subscribe-channel-list img,
  .related-video img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  /* line 276, ../sass/partials/_common.scss */
  .myplaylist-video .video-field-wrap {
    float: left;
    margin-right: 1em;
    position: relative;
  }

  /* line 282, ../sass/partials/_common.scss */
  .count-wrap {
    clear: both;
  }

  /* line 286, ../sass/partials/_common.scss */
  .navbar-default .navbar-toggle {
    background: none;
    border: none;
    display: block;
    float: left;
    margin-top: -2.5em;
  }
  /* line 292, ../sass/partials/_common.scss */
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active {
    background: none;
  }
  /* line 295, ../sass/partials/_common.scss */
  .navbar-default .navbar-toggle .icon-bar {
    display: block;
  }

  /* line 300, ../sass/partials/_common.scss */
  .home_toggle {
    color: #fff;
  }
  /* line 302, ../sass/partials/_common.scss */
  .home_toggle:before {
    color: #666666;
    content: '\f103';
    font-family: "FontAwesome";
    display: block;
    font-size: 1em;
    position: relative;
    left: 154%;
    margin-top: -1em;
  }

  /* line 313, ../sass/partials/_common.scss */
  .navbar-header {
    text-align: center;
    float: none;
  }

  /* line 319, ../sass/partials/_common.scss */
  .header .menu li.open {
    border-bottom: none;
  }
  /* line 321, ../sass/partials/_common.scss */
  .header .menu li.open .dropdown-menu {
    padding: 0 1em;
  }
  /* line 324, ../sass/partials/_common.scss */
  .header .menu li.open li {
    border-bottom: 2px solid #e4e4e4 !important;
  }
  /* line 326, ../sass/partials/_common.scss */
  .header .menu li.open li a {
    padding: .7em 0;
  }
  /* line 328, ../sass/partials/_common.scss */
  .header .menu li.open li a:active, .header .menu li.open li a:focus, .header .menu li.open li a:hover {
    border-color: #979797;
  }
  /* line 333, ../sass/partials/_common.scss */
  .header .menu li.open .dropdown-toggle {
    border-bottom: 2px solid #979797;
  }
  /* line 336, ../sass/partials/_common.scss */
  .header .menu li.open a, .header .menu li.open a:hover, .header .menu li.open a:focus {
    border-color: #979797;
  }

  /* line 343, ../sass/partials/_common.scss */
  #quicktabs-grid_list .ui-widget-header {
    display: none;
  }

  /* line 348, ../sass/partials/_common.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }
}
/** header rule **/
/* line 2, ../sass/partials/_header.scss */
.header-wrap {
  background: #4c4b4c;
}
/* line 4, ../sass/partials/_header.scss */
.header-wrap .navbar {
  background: none;
  border: none;
  margin: 0 auto;
  padding: 0;
}
/* line 9, ../sass/partials/_header.scss */
.header-wrap .navbar .name {
  color: white;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 2.57rem;
  margin-top: .7em;
  padding: 0;
}
/* line 16, ../sass/partials/_header.scss */
.header-wrap .navbar.container {
  max-width: 1160px;
}
/* line 19, ../sass/partials/_header.scss */
.header-wrap .navbar .logo {
  margin: .2em 0;
  padding: 0 .5em 0 0;
}
@media (max-width: 768px) {
  /* line 19, ../sass/partials/_header.scss */
  .header-wrap .navbar .logo {
    display: block;
    float: none !important;
  }
}

/* line 29, ../sass/partials/_header.scss */
.nav-tabs {
  border-bottom: 1px solid #b1b1b1;
  margin-bottom: 1em;
}
/* line 33, ../sass/partials/_header.scss */
.nav-tabs li a {
  color: #333399;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.8rem;
  margin-right: 2em;
  padding: .45em 0;
  border: none;
}
/* line 40, ../sass/partials/_header.scss */
.nav-tabs li a.active {
  background: none;
  border: none;
  border-bottom: 2px solid #8666af;
  color: #333399;
}
/* line 48, ../sass/partials/_header.scss */
.nav-tabs li a:hover, .nav-tabs li a:visited, .nav-tabs li a:focus {
  background: none;
  border: none;
}
/* line 55, ../sass/partials/_header.scss */
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  background: none;
  border: none;
  border-bottom: 2px solid #8666af;
  color: #333399;
}

/* line 65, ../sass/partials/_header.scss */
.header .navbar-collapse {
  padding: 0;
}
/* line 68, ../sass/partials/_header.scss */
.header .menu {
  margin: 2em 0 1em 0;
  border-bottom: 1px solid #b1b1b1;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 68, ../sass/partials/_header.scss */
  .header .menu {
    border-bottom: none;
    margin-top: 0;
    background: whitesmoke;
    padding: 1em 2em;
  }
}
/* line 78, ../sass/partials/_header.scss */
.header .menu a {
  color: #333399;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 2.2rem;
  margin-bottom: -1px;
  margin-right: 2em;
  padding: .45em 0;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  /* line 78, ../sass/partials/_header.scss */
  .header .menu a {
    margin: 0;
    padding: .7em 0;
  }
}
/* line 92, ../sass/partials/_header.scss */
.header .menu a:hover, .header .menu a:focus, .header .menu a:visited {
  background: none;
}
/* line 95, ../sass/partials/_header.scss */
.header .menu a.active {
  border-bottom: 2px solid #8666af;
}
@media (max-width: 768px) {
  /* line 95, ../sass/partials/_header.scss */
  .header .menu a.active {
    border-bottom: none;
  }
}
@media (max-width: 768px) {
  /* line 102, ../sass/partials/_header.scss */
  .header .menu li {
    float: none;
    border-bottom: 2px solid #979797;
  }
}
@media (max-width: 768px) {
  /* line 107, ../sass/partials/_header.scss */
  .header .menu li.last {
    border-bottom: none;
  }
}
/* line 114, ../sass/partials/_header.scss */
.header .nav_header {
  float: right;
  width: 50%;
}
@media (max-width: 768px) {
  /* line 114, ../sass/partials/_header.scss */
  .header .nav_header {
    width: 100%;
  }
}
/* line 120, ../sass/partials/_header.scss */
.header .nav_header .region-nav-header {
  float: left;
  margin-top: .3em;
}
/* line 124, ../sass/partials/_header.scss */
.header .nav_header .form-control, .header .nav_header button {
  background: #747474;
  box-shadow: none;
  border-radius: 0;
  border: none;
  color: #cccccc;
  font-size: 1.8rem;
  font-family: "Titillium Web Regular", sans-serif;
  padding: .24em .7em .25em;
  text-transform: uppercase;
}
/* line 135, ../sass/partials/_header.scss */
.header .nav_header .input-group {
  width: 16.7em;
}
/* line 139, ../sass/partials/_header.scss */
.header .user-menu {
  float: right;
}
/* line 141, ../sass/partials/_header.scss */
.header .user-menu .navbar-nav {
  border: none;
  margin: 0;
}
@media (max-width: 768px) {
  /* line 145, ../sass/partials/_header.scss */
  .header .user-menu .menu {
    background: none;
    padding: 0;
  }
}
@media (max-width: 768px) {
  /* line 151, ../sass/partials/_header.scss */
  .header .user-menu li {
    border-bottom: none;
  }
}
/* line 155, ../sass/partials/_header.scss */
.header .user-menu li.first {
  margin-right: .5em;
}
/* line 157, ../sass/partials/_header.scss */
.header .user-menu li.first a {
  float: left;
}
/* line 161, ../sass/partials/_header.scss */
.header .user-menu li a {
  color: #cccccc;
  font-size: 1.4rem;
  font-family: "Titillium Web Regular", sans-serif;
  line-height: 2.5em;
  margin: .3em 0 0 0;
  text-transform: capitalize;
}
/* line 168, ../sass/partials/_header.scss */
.header .user-menu li a:hover {
  color: #cccccc;
}
/* line 173, ../sass/partials/_header.scss */
.header .user-menu .user-picture {
  float: right;
  margin-left: .5em;
}
/* line 176, ../sass/partials/_header.scss */
.header .user-menu .user-picture img {
  border: 2px solid #cccccc;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  height: 35px;
  width: 35px;
}
/* line 184, ../sass/partials/_header.scss */
.header .user-menu .active {
  border-bottom: none;
}
/* line 186, ../sass/partials/_header.scss */
.header .user-menu .active a, .header .user-menu .active a:focus, .header .user-menu .active a:hover {
  background: none;
  border-bottom: none;
  color: #cccccc;
}

/* line 196, ../sass/partials/_header.scss */
#views-exposed-form-trrybe-search-page-page .views-exposed-widget {
  padding-right: 0;
}
/* line 199, ../sass/partials/_header.scss */
#views-exposed-form-trrybe-search-page-page .form-submit {
  margin-top: 0;
  font-size: 0;
}
/* line 202, ../sass/partials/_header.scss */
#views-exposed-form-trrybe-search-page-page .form-submit:before {
  content: '\f002';
  display: block;
  font-family: "FontAwesome";
  font-size: 2rem;
  padding: .2em .3em .1em 0;
}
/* line 210, ../sass/partials/_header.scss */
#views-exposed-form-trrybe-search-page-page .views-exposed-widgets {
  margin: 0;
}
/* line 213, ../sass/partials/_header.scss */
#views-exposed-form-trrybe-search-page-page .form-control {
  padding-right: 0;
  width: 15em;
}

/* line 222, ../sass/partials/_header.scss */
#block-quicktabs-grid-list .page-header, #block-quicktabs-grid-list h2,
.page-admin-structure-taxonomy-channels-add .page-header,
.page-admin-structure-taxonomy-channels-add h2,
.page-home .page-header,
.page-home h2 {
  display: none;
}

/* line 227, ../sass/partials/_header.scss */
.breadcrumb {
  display: none;
}

/* line 232, ../sass/partials/_header.scss */
.secondary li:nth-child(2n) {
  display: none;
}

/* line 239, ../sass/partials/_header.scss */
.front .inner-wrap h1 {
  display: none;
}

/* line 246, ../sass/partials/_header.scss */
.video-field-wrap img {
  height: 125px;
}
@media (max-width: 1024px) {
  /* line 246, ../sass/partials/_header.scss */
  .video-field-wrap img {
    height: 102px;
  }
}
@media (max-width: 768px) {
  /* line 246, ../sass/partials/_header.scss */
  .video-field-wrap img {
    height: 125px;
    max-width: 180px;
  }
}

/* line 258, ../sass/partials/_header.scss */
.video-field {
  height: 100px;
  width: 170px;
}

@media (max-width: 768px) {
  /* line 265, ../sass/partials/_header.scss */
  .logged-in .user-menu li.first {
    display: none;
  }
}

/** footer rules **/
/* line 3, ../sass/partials/_footer.scss */
.footer-wrap {
  background: #4c4b4c;
}
/* line 5, ../sass/partials/_footer.scss */
.footer-wrap .footer {
  border-top: none;
}
/* line 8, ../sass/partials/_footer.scss */
.footer-wrap span, .footer-wrap a {
  color: white;
  font-family: "Titillium Web Regular", sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: .7em 0 .8em;
}
/* line 15, ../sass/partials/_footer.scss */
.footer-wrap a {
  text-decoration: underline;
}
/* line 18, ../sass/partials/_footer.scss */
.footer-wrap span {
  display: block;
}

/** video landing page **/
/* line 4, ../sass/partials/_custom.scss */
.inner-wrap h1 {
  border-bottom: none;
  color: #990000;
  margin: .7em 0 1em 0;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 2.2rem;
}

/* line 14, ../sass/partials/_custom.scss */
.video-wrap .video-channel-name {
  color: #990000;
  display: block;
  margin: 0.7em 0 1.2em 0;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 3.6rem;
  line-height: 1em;
}
/* line 22, ../sass/partials/_custom.scss */
.video-wrap .col-md-9 {
  margin-top: 2em;
  width: 63.45%;
}
@media (max-width: 1024px) {
  /* line 22, ../sass/partials/_custom.scss */
  .video-wrap .col-md-9 {
    width: 60.25%;
  }
}
@media (max-width: 768px) {
  /* line 22, ../sass/partials/_custom.scss */
  .video-wrap .col-md-9 {
    width: 100%;
  }
}
/* line 32, ../sass/partials/_custom.scss */
.video-wrap .col-md-3 {
  margin: 1.8em 0 0 1.5em;
  width: 34.45%;
}
@media (max-width: 1024px) {
  /* line 32, ../sass/partials/_custom.scss */
  .video-wrap .col-md-3 {
    margin: 1.8em 0 0 1em;
    width: 37.9%;
  }
}
@media (max-width: 768px) {
  /* line 32, ../sass/partials/_custom.scss */
  .video-wrap .col-md-3 {
    width: 100%;
    margin: 0 auto;
  }
}
/* line 45, ../sass/partials/_custom.scss */
.video-wrap .col-md-12 .panel-panel-inner {
  display: inline-block;
  width: 100%;
}
/* line 50, ../sass/partials/_custom.scss */
.video-wrap .col-md-12 .panels-ipe-portlet-wrapper:nth-child(3n-4),
.video-wrap .col-md-12 .video-statistics {
  border: 1px solid #b1b1b1;
  border-top: none;
  display: inline-block;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 50, ../sass/partials/_custom.scss */
  .video-wrap .col-md-12 .panels-ipe-portlet-wrapper:nth-child(3n-4),
  .video-wrap .col-md-12 .video-statistics {
    border: none;
  }
}
/* line 60, ../sass/partials/_custom.scss */
.video-wrap .col-md-12 .panels-ipe-portlet-wrapper .video-statistics {
  border: none;
  display: block;
}
/* line 67, ../sass/partials/_custom.scss */
.video-wrap .video-statistics .video-statistics {
  border: none;
  display: inline;
}
/* line 72, ../sass/partials/_custom.scss */
.video-wrap .ui-widget-header {
  border: none;
  border-bottom: 1px solid #b1b1b1 !important;
  padding: 0;
  background: none;
  border-radius: none;
}
/* line 78, ../sass/partials/_custom.scss */
.video-wrap .ui-widget-header li.ui-state-default {
  background: none;
  margin: 0;
  padding: 0;
  width: 30%;
}
@media (max-width: 1024px) {
  /* line 78, ../sass/partials/_custom.scss */
  .video-wrap .ui-widget-header li.ui-state-default {
    width: 50%;
  }
}
/* line 86, ../sass/partials/_custom.scss */
.video-wrap .ui-widget-header li.ui-state-default a {
  color: #333399;
  font-family: "Titillium Web SemiBold", sans-serif;
  padding: .7em 0;
  text-transform: uppercase;
  margin-bottom: -1px;
  font-size: 2.2rem;
  letter-spacing: -1px;
}
/* line 96, ../sass/partials/_custom.scss */
.video-wrap .ui-widget-header li.ui-state-default.ui-state-active a {
  border-bottom: 4px solid #8666af;
}
/* line 102, ../sass/partials/_custom.scss */
.video-wrap .ui-widget-content {
  padding: 0;
}
/* line 106, ../sass/partials/_custom.scss */
.video-wrap .flag-add-to-playlist,
.video-wrap .flag-like-the-video {
  border-left: 1px solid #b1b1b1;
  padding: 1.1em 1em;
  float: right;
  text-align: center;
  height: 6.7em;
  width: 12.5%;
}
@media (max-width: 1024px) {
  /* line 106, ../sass/partials/_custom.scss */
  .video-wrap .flag-add-to-playlist,
  .video-wrap .flag-like-the-video {
    width: 13.5%;
  }
}
@media (max-width: 768px) {
  /* line 106, ../sass/partials/_custom.scss */
  .video-wrap .flag-add-to-playlist,
  .video-wrap .flag-like-the-video {
    float: left;
    width: 50%;
    border: 1px solid #b1b1b1;
  }
}
/* line 121, ../sass/partials/_custom.scss */
.video-wrap .flag-add-to-playlist a,
.video-wrap .flag-like-the-video a {
  color: #333399;
  display: block;
  font-size: 1.8rem;
  margin-top: .5em;
  font-family: "Titillium Web SemiBold", sans-serif;
}
/* line 127, ../sass/partials/_custom.scss */
.video-wrap .flag-add-to-playlist a:hover,
.video-wrap .flag-like-the-video a:hover {
  text-decoration: none;
}
@media (max-width: 768px) {
  /* line 132, ../sass/partials/_custom.scss */
  .video-wrap .flag-like-the-video {
    border-left: none;
  }
}
/* line 137, ../sass/partials/_custom.scss */
.video-wrap .field-type-file {
  background: black;
  display: inline-block;
  text-align: center;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 142, ../sass/partials/_custom.scss */
  .video-wrap .field-type-file iframe {
    width: 100%;
  }
}
/* line 148, ../sass/partials/_custom.scss */
.video-wrap .flag-message {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 153, ../sass/partials/_custom.scss */
  .flag-add-to-playlist, .flag-like-the-video {
    height: 6.75em !important;
  }
}
/* line 159, ../sass/partials/_custom.scss */
.video-detail .views-row {
  margin-top: 2em;
}
/* line 162, ../sass/partials/_custom.scss */
.video-detail p, .video-detail span, .video-detail a, .video-detail .field-content {
  color: #666666;
  font-family: "Titillium Web Regular", sans-serif;
  font-size: 1.8rem;
  word-break: keep-all;
}
/* line 168, ../sass/partials/_custom.scss */
.video-detail a {
  text-transform: capitalize;
}
/* line 170, ../sass/partials/_custom.scss */
.video-detail a:hover {
  text-decoration: none;
}
/* line 174, ../sass/partials/_custom.scss */
.video-detail .views-label {
  float: left;
  margin-right: .3em;
}
@media (max-width: 768px) {
  /* line 174, ../sass/partials/_custom.scss */
  .video-detail .views-label {
    float: none;
  }
}
@media (max-width: 768px) {
  /* line 181, ../sass/partials/_custom.scss */
  .video-detail .video-category {
    border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    padding: .7em 0 1em;
  }
}
@media (max-width: 768px) {
  /* line 187, ../sass/partials/_custom.scss */
  .video-detail .video-category a {
    border-bottom: 1px solid #b2b2b2;
    display: inline-block;
  }
}
/* line 192, ../sass/partials/_custom.scss */
.video-detail .video-category a:hover {
  color: #990000;
}
/* line 197, ../sass/partials/_custom.scss */
.video-detail .video-detail-discription {
  margin: 1.5em 0;
}
/* line 199, ../sass/partials/_custom.scss */
.video-detail .video-detail-discription p, .video-detail .video-detail-discription a, .video-detail .video-detail-discription * {
  color: #666666;
  font-family: "Titillium Web Regular", sans-serif;
  font-size: 1.8rem;
}
/* line 204, ../sass/partials/_custom.scss */
.video-detail .video-detail-discription a {
  text-decoration: underline;
}
/* line 206, ../sass/partials/_custom.scss */
.video-detail .video-detail-discription a:hover {
  color: #990000;
}

/* line 213, ../sass/partials/_custom.scss */
.video-detail-statistics {
  float: left;
  width: 60%;
}
@media (max-width: 768px) {
  /* line 213, ../sass/partials/_custom.scss */
  .video-detail-statistics {
    width: 100%;
  }
}
/* line 219, ../sass/partials/_custom.scss */
.video-detail-statistics .video-title {
  height: 4.65em;
}
@media (max-width: 768px) {
  /* line 219, ../sass/partials/_custom.scss */
  .video-detail-statistics .video-title {
    height: auto;
  }
}
/* line 224, ../sass/partials/_custom.scss */
.video-detail-statistics .video-title span {
  color: #666666;
  font-family: "Titillium Web SemiBold", sans-serif;
  display: block;
  padding: 1em 0 .5em 1em;
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  /* line 224, ../sass/partials/_custom.scss */
  .video-detail-statistics .video-title span {
    padding: 1em 0 .5em 0;
  }
}
/* line 237, ../sass/partials/_custom.scss */
.video-detail-statistics .total-count,
.video-detail-statistics .like-count,
.video-detail-statistics .comment-count {
  margin: 0 0 .5em 1em;
}
@media (max-width: 768px) {
  /* line 237, ../sass/partials/_custom.scss */
  .video-detail-statistics .total-count,
  .video-detail-statistics .like-count,
  .video-detail-statistics .comment-count {
    margin: 0 .7em .5em 0;
  }
}

/* line 246, ../sass/partials/_custom.scss */
.related-video h2 {
  color: #666666;
  font-family: "Titillium Web Regular", sans-serif;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 1.3em;
}
/* line 254, ../sass/partials/_custom.scss */
.related-video .views-row {
  background: #f7f7f7;
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
}
/* line 260, ../sass/partials/_custom.scss */
.related-video .video-field {
  float: left;
  position: relative;
}
/* line 264, ../sass/partials/_custom.scss */
.related-video .video-duration {
  background: black;
  bottom: 7px;
  color: white;
  position: absolute;
  font-size: 1.8rem;
  font-family: "Titillium Web Regular", sans-serif;
  right: 5px;
  line-height: 18px;
  padding: .1em .4em;
}
/* line 275, ../sass/partials/_custom.scss */
.related-video .channel-wrap {
  float: left;
  padding: .5em;
  width: 55%;
}
@media (max-width: 1024px) {
  /* line 275, ../sass/partials/_custom.scss */
  .related-video .channel-wrap {
    width: 48%;
  }
}
/* line 283, ../sass/partials/_custom.scss */
.related-video .channel-wrap a:hover {
  text-decoration: none;
}
/* line 289, ../sass/partials/_custom.scss */
.related-video .channel-name a {
  color: #959595;
  font-size: 1.4rem;
  font-family: "Titillium Web SemiBold", sans-serif;
}
/* line 295, ../sass/partials/_custom.scss */
.related-video .channel-title {
  margin-top: .5em;
}
/* line 297, ../sass/partials/_custom.scss */
.related-video .channel-title a {
  color: #666666;
  display: block;
  font-family: "Titillium Web SemiBold", sans-serif;
  margin: .5em 0;
  font-size: 1.8rem;
  line-height: 1.1em;
}

/* line 309, ../sass/partials/_custom.scss */
.video-comments .views-row {
  border-bottom: 1px solid #b1b1b1;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
/* line 314, ../sass/partials/_custom.scss */
.video-comments .links {
  float: right;
  margin-top: 1em;
}
/* line 317, ../sass/partials/_custom.scss */
.video-comments .links a {
  background: #535353;
  color: white;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.24rem;
  letter-spacing: 0;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
}
/* line 322, ../sass/partials/_custom.scss */
.video-comments h3 a {
  color: #666666;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.8rem;
  text-transform: capitalize;
}
/* line 330, ../sass/partials/_custom.scss */
.video-comments .content p {
  color: #959595;
  font-family: "Titillium Web Regular", sans-serif;
  font-size: 1.8rem;
  -ms-word-break: break-all;
  word-break: break-all;
}

/** home page ui **/
/* line 345, ../sass/partials/_custom.scss */
.popular-video h2,
.latest-activity h2,
.channel-video-listing h2 {
  color: #666666;
  font-family: "Titillium Web Regular", sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 1em;
}

/* line 353, ../sass/partials/_custom.scss */
.channel-video-listing {
  clear: both;
}
/* line 355, ../sass/partials/_custom.scss */
.channel-video-listing h2 {
  border-top: 1px solid #b1b1b1;
  padding-top: 1em;
  display: inline-block;
  width: 100%;
}
/* line 361, ../sass/partials/_custom.scss */
.channel-video-listing .views-limit-grouping-group {
  border-bottom: 1px solid #b1b1b1;
  clear: both;
  display: inline-block;
  margin: 0 0 1.8em;
  padding: 0 0 0.8em;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 361, ../sass/partials/_custom.scss */
  .channel-video-listing .views-limit-grouping-group {
    border-bottom: none;
  }
}
/* line 371, ../sass/partials/_custom.scss */
.channel-video-listing .views-limit-grouping-group h3 {
  background: whitesmoke;
  float: left;
  height: 9.13em;
  margin: 0 .7em 0 0;
  padding: .8em;
  text-align: left;
  width: 15.3%;
}
@media (max-width: 768px) {
  /* line 371, ../sass/partials/_custom.scss */
  .channel-video-listing .views-limit-grouping-group h3 {
    border-bottom: 1px solid #b1b1b1;
    background: none;
    height: 4em;
    width: 100%;
  }
}
/* line 387, ../sass/partials/_custom.scss */
.channel-video-listing #term-name {
  color: #990000;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 1em;
}
@media (max-width: 1024px) {
  /* line 387, ../sass/partials/_custom.scss */
  .channel-video-listing #term-name {
    font-size: 2.3rem;
    letter-spacing: -1px;
  }
}
/* line 398, ../sass/partials/_custom.scss */
.channel-video-listing .taxonomy_name {
  color: #666666;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.2rem;
  height: 3.5em;
  margin-top: .5em;
}
@media (max-width: 1024px) {
  /* line 398, ../sass/partials/_custom.scss */
  .channel-video-listing .taxonomy_name {
    height: 4em;
  }
}
@media (max-width: 768px) {
  /* line 398, ../sass/partials/_custom.scss */
  .channel-video-listing .taxonomy_name {
    height: auto;
    font-size: 1.8rem;
    float: left;
  }
}
/* line 413, ../sass/partials/_custom.scss */
.channel-video-listing .views-limit-grouping {
  float: left;
  margin-right: 1em;
  position: relative;
  width: 15.4%;
}
@media (max-width: 1024px) {
  /* line 413, ../sass/partials/_custom.scss */
  .channel-video-listing .views-limit-grouping {
    margin-right: .8em;
  }
}
@media (max-width: 768px) {
  /* line 413, ../sass/partials/_custom.scss */
  .channel-video-listing .views-limit-grouping {
    width: 100%;
  }
}
/* line 424, ../sass/partials/_custom.scss */
.channel-video-listing .views-limit-grouping:last-child {
  margin-right: 0 !important;
}
@media (max-width: 768px) {
  /* line 429, ../sass/partials/_custom.scss */
  .channel-video-listing .video-field-wrap {
    float: left;
    margin-right: 1em;
    position: relative;
  }
  /* line 434, ../sass/partials/_custom.scss */
  .channel-video-listing .views-row {
    border-bottom: 1px solid #d8d8d8;
    padding-top: 1em;
  }
}

/* line 440, ../sass/partials/_custom.scss */
.popular-video {
  float: left;
  position: relative;
  width: 66%;
}
@media (max-width: 768px) {
  /* line 440, ../sass/partials/_custom.scss */
  .popular-video {
    width: 100%;
  }
}
/* line 448, ../sass/partials/_custom.scss */
.popular-video .views_slideshow_main img {
  opacity: .8;
}
@media (max-width: 1024px) {
  /* line 448, ../sass/partials/_custom.scss */
  .popular-video .views_slideshow_main img {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  /* line 454, ../sass/partials/_custom.scss */
  .popular-video .views_slideshow_main .views-slideshow-cycle-main-frame {
    width: 100%;
  }
}
/* line 460, ../sass/partials/_custom.scss */
.popular-video .duration-time {
  background: black;
  bottom: 65px;
  padding: .2em .4em;
  position: absolute;
  right: 1px;
}
@media (max-width: 768px) {
  /* line 460, ../sass/partials/_custom.scss */
  .popular-video .duration-time {
    bottom: 40px;
  }
}
/* line 469, ../sass/partials/_custom.scss */
.popular-video .duration-time .field-content {
  color: #666666;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.8rem;
}
/* line 475, ../sass/partials/_custom.scss */
.popular-video .titlewrap {
  position: absolute;
  bottom: 115px;
  left: 30px;
}
@media (max-width: 768px) {
  /* line 475, ../sass/partials/_custom.scss */
  .popular-video .titlewrap {
    bottom: 60px;
    left: 25px;
  }
}
/* line 486, ../sass/partials/_custom.scss */
.popular-video .popular-channel a,
.popular-video .videotitle a {
  color: white;
  display: inline-block;
  font-size: 2rem;
  font-family: "Titillium Web SemiBold", sans-serif;
  margin-bottom: .8em;
}
/* line 495, ../sass/partials/_custom.scss */
.popular-video .videotitle a {
  font-size: 3.6rem;
  line-height: 1em;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  /* line 495, ../sass/partials/_custom.scss */
  .popular-video .videotitle a {
    font-size: 2.6rem;
  }
}
/* line 505, ../sass/partials/_custom.scss */
.popular-video .views_slideshow_pager_field_item .views-content-counter {
  background: url('../images/play-page.png?1427383223') no-repeat scroll 0 0 #333333;
  bottom: 25px;
  border-radius: 100%;
  cursor: pointer;
  float: left;
  height: 11px;
  margin: 0 0.2em;
  left: 338px;
  position: relative;
  text-indent: -9999px;
  width: 11px;
  z-index: 99;
}
@media (max-width: 1024px) {
  /* line 505, ../sass/partials/_custom.scss */
  .popular-video .views_slideshow_pager_field_item .views-content-counter {
    left: 248px;
  }
}
@media (max-width: 768px) {
  /* line 505, ../sass/partials/_custom.scss */
  .popular-video .views_slideshow_pager_field_item .views-content-counter {
    left: 42%;
  }
}
/* line 526, ../sass/partials/_custom.scss */
.popular-video .views_slideshow_pager_field_item.active .views-content-counter {
  background: url('../images/active-page.png?1427383223') no-repeat scroll 0 0 #b3b3b3;
}

/* line 533, ../sass/partials/_custom.scss */
.latest-activity {
  float: right;
  width: 32.8%;
}
@media (max-width: 768px) {
  /* line 533, ../sass/partials/_custom.scss */
  .latest-activity {
    float: left;
    width: 100%;
  }
}
/* line 540, ../sass/partials/_custom.scss */
.latest-activity .view-newcomments {
  background: whitesmoke;
  border: 1px solid #ececec;
  display: inline-block;
  padding: 1em .9em;
  height: 28.8em;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 540, ../sass/partials/_custom.scss */
  .latest-activity .view-newcomments {
    height: auto;
  }
}
/* line 551, ../sass/partials/_custom.scss */
.latest-activity .title {
  background: white;
  padding: 1em;
}
/* line 554, ../sass/partials/_custom.scss */
.latest-activity .title a {
  color: #999999;
  font-size: 2rem;
  font-family: "Titillium Web SemiBold", sans-serif;
}
@media (max-width: 768px) {
  /* line 560, ../sass/partials/_custom.scss */
  .latest-activity .title--wrap {
    float: left;
    margin-right: 1em;
    width: 50%;
  }
}
/* line 567, ../sass/partials/_custom.scss */
.latest-activity .activity-wrap {
  margin-top: .8em;
}
/* line 569, ../sass/partials/_custom.scss */
.latest-activity .activity-wrap .field-content {
  display: block;
}
/* line 573, ../sass/partials/_custom.scss */
.latest-activity .comment-body {
  padding: 0 1em .9em 1.5em;
}
@media (max-width: 768px) {
  /* line 573, ../sass/partials/_custom.scss */
  .latest-activity .comment-body {
    padding: 1.8em .5em .9em 1.5em;
  }
}
/* line 578, ../sass/partials/_custom.scss */
.latest-activity .comment-body p, .latest-activity .comment-body span {
  color: #666666;
  font-family: "Titillium Web Regular", sans-serif;
  font-size: 1.8rem;
  margin-top: 0;
  word-break: break-all;
}
/* line 586, ../sass/partials/_custom.scss */
.latest-activity .comment-author {
  color: #666666;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.8rem;
  padding: 0 0 1em 1.5em;
  text-transform: capitalize;
}

/*** My Playlist and browse channel UI ***/
/* line 597, ../sass/partials/_custom.scss */
.myplaylist-video {
  display: inline-block;
  margin-top: 2em;
  width: 100%;
}
/* line 602, ../sass/partials/_custom.scss */
.myplaylist-video .view-filters .views-exposed-form {
  background: whitesmoke;
  border: 1px solid #ececec;
  padding: .7em 1em;
  margin-bottom: 2em;
}
/* line 607, ../sass/partials/_custom.scss */
.myplaylist-video .view-filters .views-exposed-form .views-exposed-widgets {
  margin: 0;
}
/* line 612, ../sass/partials/_custom.scss */
.myplaylist-video .views-exposed-widget {
  margin-right: 1.7em;
  padding: .5em 0 0;
}
@media (max-width: 1024px) {
  /* line 612, ../sass/partials/_custom.scss */
  .myplaylist-video .views-exposed-widget {
    margin: 0 0 0 3.5em;
  }
}
@media (max-width: 768px) {
  /* line 612, ../sass/partials/_custom.scss */
  .myplaylist-video .views-exposed-widget {
    margin: 0;
  }
}
/* line 621, ../sass/partials/_custom.scss */
.myplaylist-video .views-exposed-widget label {
  color: #666666;
  float: left;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.8rem;
  margin-right: .6em;
  line-height: 2.8em;
}
@media (max-width: 768px) {
  /* line 621, ../sass/partials/_custom.scss */
  .myplaylist-video .views-exposed-widget label {
    width: 4em;
  }
}
/* line 632, ../sass/partials/_custom.scss */
.myplaylist-video .views-exposed-widget .views-widget {
  float: left;
}
/* line 635, ../sass/partials/_custom.scss */
.myplaylist-video .views-exposed-widget .form-select {
  color: #999999;
  background: url('../images/down-arrow.png?1427383223') no-repeat scroll 95% center white;
  border: 1px solid #ececec;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  font-family: "Titillium Web Regular", sans-serif;
  font-size: 1.8rem;
  height: 2.8em;
  padding-left: 1em;
  width: 15.55em;
}
/* line 649, ../sass/partials/_custom.scss */
.myplaylist-video .views-exposed-widget .form-select > option {
  color: #999999;
  font-family: "Titillium Web Regular", sans-serif;
  font-size: 1.8rem;
  padding-left: 1em;
}
@media (max-width: 768px) {
  /* line 635, ../sass/partials/_custom.scss */
  .myplaylist-video .views-exposed-widget .form-select {
    width: 14.55em;
  }
}
/* line 659, ../sass/partials/_custom.scss */
.myplaylist-video .views-exposed-widget.views-widget-sort-by {
  margin-right: 0;
  width: 31%;
}
@media (max-width: 1024px) {
  /* line 659, ../sass/partials/_custom.scss */
  .myplaylist-video .views-exposed-widget.views-widget-sort-by {
    text-indent: 220px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 659, ../sass/partials/_custom.scss */
  .myplaylist-video .views-exposed-widget.views-widget-sort-by {
    text-indent: 0;
  }
}
/* line 671, ../sass/partials/_custom.scss */
.myplaylist-video .views-submit-button {
  display: none;
}
/* line 674, ../sass/partials/_custom.scss */
.myplaylist-video .views-row {
  float: left;
  margin: 0 1.18em 2em 0;
  position: relative;
  width: 15.3%;
}
@media (max-width: 1024px) {
  /* line 674, ../sass/partials/_custom.scss */
  .myplaylist-video .views-row {
    margin-right: .95em;
  }
}
@media (max-width: 768px) {
  /* line 674, ../sass/partials/_custom.scss */
  .myplaylist-video .views-row {
    border-bottom: 1px solid #b1b1b1;
    margin-right: 0;
    width: 100%;
  }
}
/* line 687, ../sass/partials/_custom.scss */
.myplaylist-video .views-row:nth-child(6n) {
  margin-right: 0;
}

/* line 693, ../sass/partials/_custom.scss */
.browse-channel-list h3 {
  border-bottom: 1px solid #b1b1b1;
  color: #990000;
  display: block;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 3.6rem;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}
@media (max-width: 1024px) {
  /* line 704, ../sass/partials/_custom.scss */
  .browse-channel-list.myplaylist-video .views-widget-sort-by {
    text-indent: 0;
    width: auto;
  }
}
/* line 711, ../sass/partials/_custom.scss */
.browse-channel-list .views-row:nth-child(7n) {
  margin-right: 0;
}
/* line 714, ../sass/partials/_custom.scss */
.browse-channel-list .views-row:nth-child(6n) {
  margin-right: 1.18em;
}
@media (max-width: 1024px) {
  /* line 714, ../sass/partials/_custom.scss */
  .browse-channel-list .views-row:nth-child(6n) {
    margin-right: .95em;
  }
}
@media (max-width: 768px) {
  /* line 714, ../sass/partials/_custom.scss */
  .browse-channel-list .views-row:nth-child(6n) {
    margin-right: 0;
  }
}

/** ui for channel page **/
/* line 729, ../sass/partials/_custom.scss */
.subscribe-channel-grid .views-row {
  float: left;
  margin: 0 .59em 3em 0;
  width: 24.5%;
}
/* line 733, ../sass/partials/_custom.scss */
.subscribe-channel-grid .views-row:nth-child(4n) {
  margin-right: 0;
}
/* line 738, ../sass/partials/_custom.scss */
.subscribe-channel-grid .channel-image,
.subscribe-channel-grid .subscribe-channel-wrap {
  float: none;
  margin-left: 0;
}
/* line 743, ../sass/partials/_custom.scss */
.subscribe-channel-grid .channelname a {
  height: 2em;
  margin-top: .4em;
  line-height: 1em;
}
/* line 749, ../sass/partials/_custom.scss */
.subscribe-channel-grid .channeldescipton {
  height: 4em;
  margin-top: .5em;
}

@media (max-width: 768px) {
  /* line 755, ../sass/partials/_custom.scss */
  .subscribe-channel-list {
    margin-top: 1em;
  }
}
/* line 759, ../sass/partials/_custom.scss */
.subscribe-channel-list .views-row {
  display: inline-block;
  margin-bottom: 2.5em;
  width: 100%;
}
/* line 765, ../sass/partials/_custom.scss */
.subscribe-channel-list .channel-image,
.subscribe-channel-list .subscribe-channel-wrap {
  float: left;
}
/* line 768, ../sass/partials/_custom.scss */
.subscribe-channel-list .subscribe-channel-wrap {
  margin-left: 1.5em;
}
@media (max-width: 768px) {
  /* line 768, ../sass/partials/_custom.scss */
  .subscribe-channel-list .subscribe-channel-wrap {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  /* line 774, ../sass/partials/_custom.scss */
  .subscribe-channel-list .channel-image {
    margin: 0 .5em 1em 0;
  }
}

/* line 782, ../sass/partials/_custom.scss */
.quicktabs-ui-wrapper .ui-widget-header {
  background: none;
  bottom: 52px;
  float: right;
  padding: 0;
  position: relative;
}
/* line 789, ../sass/partials/_custom.scss */
.quicktabs-ui-wrapper .ui-widget-header li.ui-state-default {
  background: none;
}
/* line 792, ../sass/partials/_custom.scss */
.quicktabs-ui-wrapper .ui-widget-header li a {
  color: #040707;
  padding: 0;
  font-size: 0;
}
/* line 798, ../sass/partials/_custom.scss */
.quicktabs-ui-wrapper .ui-widget-header li:last-child a:before {
  content: "\f00a";
  font-family: "FontAwesome";
  font-size: 2.8rem;
}
/* line 804, ../sass/partials/_custom.scss */
.quicktabs-ui-wrapper .ui-widget-header li:first-child {
  float: right;
  margin-left: 1.5em;
}
/* line 807, ../sass/partials/_custom.scss */
.quicktabs-ui-wrapper .ui-widget-header li:first-child a:before {
  content: "\f00b";
  font-family: "FontAwesome";
  font-size: 2.8rem;
}
/* line 815, ../sass/partials/_custom.scss */
.quicktabs-ui-wrapper .ui-widget-header .ui-state-active a {
  color: #dddddd;
}
/* line 820, ../sass/partials/_custom.scss */
.quicktabs-ui-wrapper .ui-tabs-panel {
  display: inline-block;
  padding: 0;
  width: 100%;
}

/** upload video page **/
/* line 830, ../sass/partials/_custom.scss */
#node-edit #edit-title {
  font-size: 1.8rem;
}
/* line 833, ../sass/partials/_custom.scss */
#node-edit h2 {
  font-size: 1.6rem;
}
/* line 836, ../sass/partials/_custom.scss */
#node-edit label {
  float: left;
  margin-right: 1em;
  margin-top: .5em;
  width: 11em !important;
}
/* line 843, ../sass/partials/_custom.scss */
#node-edit .form-control,
#node-edit .form-control:focus {
  box-shadow: none;
  width: 100%;
}
/* line 847, ../sass/partials/_custom.scss */
#node-edit .form-select {
  width: 35%;
}
/* line 850, ../sass/partials/_custom.scss */
#node-edit .form-textarea-wrapper {
  width: 100%;
}
/* line 853, ../sass/partials/_custom.scss */
#node-edit .col-md-4 {
  clear: both;
}
/* line 856, ../sass/partials/_custom.scss */
#node-edit textarea.form-control {
  height: 8.8em;
}
/* line 859, ../sass/partials/_custom.scss */
#node-edit input[type="checkbox"] {
  margin-top: .8em;
}

/* line 865, ../sass/partials/_custom.scss */
#panopoly-page-node-form .image-widget .form-submit {
  background: #535353;
  color: white;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.24rem;
  letter-spacing: 0;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding: .3em 1.5em;
  margin-top: .5em;
  height: auto;
  line-height: 1.2em;
}
/* line 875, ../sass/partials/_custom.scss */
#panopoly-page-node-form .image-widget .form-submit:hover {
  background: #535353;
  border: none;
}
/* line 881, ../sass/partials/_custom.scss */
#panopoly-page-node-form .menu-parent-select {
  width: 100%;
}

/* line 889, ../sass/partials/_custom.scss */
#panopoly_pages_landing_page_wizard .form-textarea-wrapper,
#panopoly_pages_landing_page_wizard .form-text,
#panopoly_pages_landing_page_wizard fieldset,
#file-entity-file-type-form .form-textarea-wrapper,
#file-entity-file-type-form .form-text,
#file-entity-file-type-form fieldset {
  width: 50%;
}

/* line 893, ../sass/partials/_custom.scss */
.form-submit {
  background: #535353;
  color: white;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.24rem;
  letter-spacing: 0;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  padding: .3em 1.5em;
  margin-top: 2em;
}
/* line 900, ../sass/partials/_custom.scss */
.form-submit:hover {
  background: #535353;
  border: none;
}

/** create channel page **/
/* line 911, ../sass/partials/_custom.scss */
#taxonomy-form-term .form-item label {
  color: #333333;
  float: none;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}
/* line 918, ../sass/partials/_custom.scss */
#taxonomy-form-term .form-item .form-control {
  border: 1px solid #bababa;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 1.4rem;
  font-family: "Titillium Web Regular", sans-serif;
  height: 3.2em;
  width: 28.8em;
}
/* line 929, ../sass/partials/_custom.scss */
#taxonomy-form-term .form-item textarea.form-control {
  height: 8.8em;
}
/* line 935, ../sass/partials/_custom.scss */
#taxonomy-form-term .grippie,
#taxonomy-form-term .form-required,
#taxonomy-form-term fieldset {
  display: none;
}
/* line 939, ../sass/partials/_custom.scss */
#taxonomy-form-term .form-submit,
#taxonomy-form-term .btn {
  background: #535353;
  color: white;
  font-family: "Titillium Web SemiBold", sans-serif;
  font-size: 1.24rem;
  letter-spacing: 0;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  padding: .3em 1.5em;
}
/* line 946, ../sass/partials/_custom.scss */
#taxonomy-form-term .btn {
  margin-top: .5em;
}

/* line 952, ../sass/partials/_custom.scss */
.search-page .views-row {
  display: inline-block;
  margin-bottom: 1em;
  width: 100%;
}
/* line 957, ../sass/partials/_custom.scss */
.search-page .video-field-wrap {
  float: left;
  margin-right: 1em;
  width: 180px;
}
/* line 963, ../sass/partials/_custom.scss */
.search-page .view-empty p {
  color: #990000;
}
