/*
** stylesheet for Trrybe distribution
*/
.maintenance-page #branding {
  background-color: #4C4B4C;
}

.maintenance-page #branding h1.page-title {
  color: #fff;
}

.maintenance-page #logo {
  background: transparent url(trrybe.png) no-repeat top left;
  height: 0;
  overflow: hidden;
  margin-top: 2em;
  padding-top: 80px;
  width: 180px;
}

.maintenance-page #content label {
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
}

.maintenance-page #content .form-item-theme {
  margin-bottom: 1em;
}

.maintenance-page #content .form-item-theme img {
  float: left;
  margin-right: 1em;
  width: 50%;
}

.maintenance-page #content .form-text,
.maintenance-page #content .form-select {
  border: 1px solid #b1b1b1;
  color: #666;
  font-size: 14px;
  height: 25px;
  padding-left: 8px;
}

.maintenance-page #content .form-submit {
  background: #535353;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #ccc;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.maintenance-page #content fieldset {
  border: 1px solid #b1b1b1;
}

.maintenance-page #content .fieldset-title,
.maintenance-page #content p a {
  color: #333399;
}

.maintenance-page #content .progress .bar {
  border: 1px solid #b1b1b1;
  border-radius: 0;
}
