/** common rules for site **/
body {
  color:$grey;
  margin: 0;
  font-family: "Titillium Web",sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
}

@font-face {
  font-family: "FontAwesome";
  src: font-url("FontAwesome.otf");
  src: font-url("fontawesome-webfont.eot");
  src: font-url("fontawesome-webfont.woff");
  src: font-url("fontawesome-webfont.ttf");
}

@font-face {
  font-family: "Titillium Web Regular";
  src: font-url("TitilliumWeb-Regular.otf");
  src: font-url("TitilliumWeb-Regular.eot");
  src: font-url("TitilliumWeb-Regular.woff");
  src: font-url("TitilliumWeb-Regular.ttf");
  font-weight: 400; 
}

@font-face {
  font-family: "Titillium Web SemiBold";
  src: font-url("TitilliumWeb-SemiBold.otf");
  src: font-url("TitilliumWeb-SemiBold.eot");
  src: font-url("TitilliumWeb-SemiBold.woff");
  src: font-url("TitilliumWeb-SemiBold.ttf");
  font-weight: 600; 
}

*, ul, ol, li {
  margin: 0;
  padding: 0;
}

*:focus, *:visited {
  outline: none;
  outline-style: none;
}

.container {
 padding: 0;
 width: 1160px;
}

p {
  margin:0.7em 0 0 0;
}

.main-container {
	min-height: 520px;
}

a {
	&:hover {
		text-decoration: none;
	}
}

.total-count {
	span:before {
		content:	"\f06e";
	}  
}

.comment-count {
	span:before {
		content: "\f086";
	}	
}

.comment-count,
.total-count {
	span:before {
		display: inline-block;
		font-family: $fontawesome;
		font-weight: normal; 
		padding-right: .3em;
	}  
}

.total-count,
.like-count,
.comment-count {
	float: left;
	margin: .5em .7em .5em 0;	
	@include mediaquery(medium) {
		margin-right: .5em; 
	}	
	span {
		font-size: 1.6rem;
		color:	$lightergrey;
		text-transform: uppercase;
		font-family: $titillium-semibold;
	}
}

.like-count {
	margin-right: 0; 
}

#subscribe-flag {
	float: left;
  a {
  	display: none;
  	&.flag {
  		@include subscribe($color-button-bg,$white);
  		display: block !important;
  	}	
  }
  @include mediaquery(small) {
  	float: right;
  }	
}

.video-title {
	height: 3.3em;
	@include mediaquery(medium) {
		height: 4.8em;
	}	
	@include mediaquery(small) {
		height: auto;
	}	
	a {
		color: $color-title;
		display: block;
		font-size: 1.8rem;
		font-family: $titillium-semibold;
		margin-top: .5em;
		line-height: 1.2em;
		text-decoration: none;
	}
}

.duration-time {
	background: $black;
  bottom: 48%;
  line-height: 20px;
  padding: 0 0.2em 0.2em;
  position: absolute;
  right: 5px;
	@include mediaquery(medium) {
		bottom: 58%;
	}
	@include mediaquery(small) {
		bottom: 7%;
		right: 5%;
	}	 
	.field-content {
	  color: $color-time;
	  font-family: $titillium;
	  font-size: 1.8rem;
	}
}	
	
.channelname {
	a {
		color: $dark-red;
		display: block;
		font-family: $titillium-semibold;
		font-size: 3rem;
	}	
}

.video-count {
	color: $lightergrey;
	font-family: $titillium-semibold;
	font-size: 1.2rem;
	margin-top: .5em;
}

.channeldescipton {
	height: 6.5em;
	margin: 1em 0 .5em 0;
	p {
		color: $lightergrey;
		font-family: $titillium;
		font-size: 1.8rem;
		margin: 0;
	}
}

.channel-image {
	img {
		@include border(all,$color-border);
	}
}

.subscribe-button {
	a {
		@include subscribe($color-button-bg,$white);
	}
}	

.detail-page-comment {
	.add-comment {
		a {
			color: $dark-red;
			display: block;
			font-family: $titillium-semibold;
			font-size: 1.8rem;
			margin-top: 1em;   
		}
		.comment_Closed {
			@include hide(none);
		}	 
	}
	.comment-list {
		margin-top: 2em;
		h2 {
			@include hide(none);
		}
	}
	.links {
		float: right;
		margin-bottom: 1em;
		a {
			@include subscribe($color-button-bg,$white);
			padding: 0 .3em;
		} 
	}
	.submitted {
		font-style: normal; 
	}	
	.comment {
		@include border(bottom,$light-grey);
	}
	.indented {
		margin: 0 0 1em 2em; 
		.comment {
			@include border(bottom,$color-border-bottom);
		}
	}
	.confirmation {
		a {
			@include subscribe($color-button-bg,$white);
			padding: .1em 1.5em;
			display: inline-block;
			margin: 1em 0 0 1em; 
		}
		.form-submit {
			margin-top: 0; 
		}
	}
}

/*** Responsive css rules ***/

@include mediaquery(large) {
	.navbar.container,
	.container {
		width: 92%;
	}
}

@include mediaquery(medium) {
	.channel-video-listing,
	.latest-activity,
	.subscribe-channel-list,
	.related-video {
		img {
			width:	100%;
	  	height:	auto;
		}
	}	
}

@include mediaquery(small) {
	.myplaylist-video {
		.video-field-wrap {
			float: left;
			margin-right: 1em;
			position: relative;
		}
	}
	.count-wrap {
		clear: both;
	}
	.navbar-default {
		.navbar-toggle {
			background: none;
			border: none;
			display: block;
			float: left;
			margin-top: -2.5em;
			&:hover, &:active {
				background: none;
			}
			.icon-bar {
				display: block;
			}	
		}	
	}
	.home_toggle {
		color: #fff;
		&:before {
			color: $lightergrey;
			content: '\f103';
		  font-family: $fontawesome;
		  display: block;
		  font-size: 1em;
		  position: relative;
		  left: 154%;
		  margin-top: -1em;
		}  
	}
	.navbar-header {
		text-align: center;
		float: none;
	}
	.header {
		.menu {
			li.open {
				border-bottom: none;
				.dropdown-menu {
					padding: 0 1em;
				}
				li {
					border-bottom: 2px solid $color-submenu-border !important;
					a {
						padding: .7em 0;
						&:active,&:focus,&:hover {
							border-color: $color-menu-border;
						}	
					}
				}	
				.dropdown-toggle {
					@include border(bottom,$color-menu-border,2px);		
				}
				a,a:hover,a:focus {
					border-color: $color-menu-border;
				}
			}
		}	
	}
	#quicktabs-grid_list {	
		.ui-widget-header {
			@include hide(none);
		}
	}	
	.navbar-collapse {
		&.collapse{
      display: none!important;
    }
	}		  
}

