/** video landing page **/

.inner-wrap {
	h1 {
		border-bottom: none;
		color: $dark-red;
		margin: .7em 0 1em 0;
		font-family: $titillium-semibold;	
		font-size: 2.2rem;
	}
}

.video-wrap {
	.video-channel-name {
		color: $dark-red;
		display: block;
		margin: 0.7em 0 1.2em 0;
		font-family: $titillium-semibold;
		font-size: 3.6rem;
		line-height: 1em;	
	}
	.col-md-9  {
		margin-top: 2em;
		width: 63.45%;
		@include mediaquery(medium) {
			width: 60.25%;
		}
		@include mediaquery(small) {
			width: 100%;
		}
	}
	.col-md-3 {
		margin: 1.8em 0 0 1.5em;
		width: 34.45%;
		@include mediaquery(medium) {
			margin: 1.8em 0 0 1em;
			width: 37.9%;
		}
		@include mediaquery(small) {
			width: 100%;
			margin: 0 auto;
		}	
	}
	.col-md-12 {
		.panel-panel-inner {
			display: inline-block;
			width: 100%;	
		}
		.panels-ipe-portlet-wrapper:nth-child(3n-4),
		.video-statistics {
			@include border(all,$light-grey);
			border-top: none;
			display: inline-block;
			width: 100%;
			@include mediaquery(small) {
				border: none;
			}
		}	
		.panels-ipe-portlet-wrapper {
			.video-statistics {
				border: none;
				display: block;
			}	
		}
	}
	.video-statistics {
		.video-statistics {
			border: none;
			display: inline;
		}	
	}	
	.ui-widget-header {
		border: none;
		border-bottom: 1px solid $light-grey !important;
		padding: 0;
		background: none;
		border-radius: none;
		li.ui-state-default {
			background: none;
			margin: 0;
			padding: 0;
			width: 30%;
			@include mediaquery(medium) {
				width: 50%;
			}
			a {
				color:$blue;
				font-family: $titillium-semibold ;
				padding: .7em 0;
				text-transform: uppercase;
				margin-bottom: -1px;
				font-size: 2.2rem;
				letter-spacing: -1px;
			}
			&.ui-state-active {
				a {
					@include border(bottom,$ligt-blue,4px);
				}	
			}
		}
	}	
	.ui-widget-content {
		padding: 0;
	}		
	.flag-add-to-playlist,
	.flag-like-the-video {
		@include border(left,$light-grey);
		padding: 1.1em 1em;
		float: right;
		text-align: center;
		height: 6.7em;
		width: 12.5%;
		@include mediaquery(medium) {
			width: 13.5%;
		}
		@include mediaquery(small) {
			float: left;
			width: 50%;
			@include border(all,$light-grey);
		}	
		a {
			color: $blue;
			display: block;
			font-size: 1.8rem;
			margin-top: .5em;
			font-family: $titillium-semibold;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.flag-like-the-video {
		@include mediaquery(small) {
			border-left: none;
		}	
	}
	.field-type-file {
		background: $black;
		display: inline-block;
		text-align: center;
		width: 100%;
		iframe {
			@include mediaquery(small) {
				width: 100%;
			}	
		} 
	}
	.flag-message {
		@include hide(none);
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.flag-add-to-playlist,.flag-like-the-video {
		height: 6.75em !important;
	}
}

.video-detail {
	.views-row {
		margin-top: 2em;
	}
	p,span,a,.field-content {
		color:$lightergrey;
		font-family: $titillium;
		font-size: 1.8rem;
		word-break: keep-all;
	}
	a {
		text-transform: capitalize;
		&:hover {
			text-decoration:none;
		}
	}
	.views-label {
		float: left;
		margin-right: .3em;
		@include mediaquery(small) {
			float: none;
		}	
	}
	.video-category {
		@include mediaquery(small) {
			@include border(top,$light-grey);
			@include border(bottom,$light-grey);
			padding: .7em 0 1em; 
		}
		a {
			@include mediaquery(small) {
				@include border(bottom,$color-category-border);
				display: inline-block; 
			}
			&:hover {
				color: $dark-red;
			}
		}	
	}	
	.video-detail-discription {
		margin: 1.5em 0;
		p,a,* {
			color: $lightergrey;
			font-family: $titillium;
			font-size: 1.8rem;
		}
		a {
			text-decoration: underline;
			&:hover {
				color: $dark-red;
			} 
		}
	}	
}

.video-detail-statistics {
	float: left;
	width: 60%; 
	@include mediaquery(small) {
		width: 100%;
	}	
	.video-title {
		height: 4.65em;
		@include mediaquery(small) {
			height: auto;
		}	
		span {
			color:$lightergrey;
			font-family: $titillium-semibold;
			display: block;
			padding: 1em 0 .5em 1em;
			font-size: 1.8rem;
			@include mediaquery(small) {
				padding: 1em 0 .5em 0;
			}
		}
	}
	.total-count,
	.like-count,
	.comment-count {	
		margin:	0 0 .5em 1em;
		@include mediaquery(small) {
			margin: 0 .7em .5em 0;
		}
	}	
}
	
.related-video {
	h2 {
		color:$lightergrey;
		font-family: $titillium;
		letter-spacing: -1px;
		text-transform: uppercase;
		font-size: 2.2rem;
		margin-bottom: 1.3em;	
	}
	.views-row {
		background: $color-graybg;
		margin-bottom: 1em;
		display: inline-block;
		width: 100%;
	}	
	.video-field {
		float: left;
		position: relative;
	}		
	.video-duration {
		background: $black;
		bottom: 7px;
		color: $white;
		position: absolute;
		font-size: 1.8rem;
		font-family: $titillium;
		right: 5px;
		line-height: 18px;
		padding: .1em .4em;
	}						
	.channel-wrap {
		float: left;
		padding: .5em;
		width: 55%;
		@include mediaquery(medium) {
			width: 48%;
		}	
		a {
			&:hover {
				text-decoration: none;	
			}
		}
	}	
	.channel-name {
		a {
			color: $color-grey;
			font-size: 1.4rem;
			font-family: $titillium-semibold;
		}
	}
	.channel-title {
		margin-top: .5em;
		a {
			color: $lightergrey;
			display: block;
			font-family: $titillium-semibold;
			margin: .5em 0;
			font-size: 1.8rem;
			line-height: 1.1em;
		}	
	}					 
}	

.video-comments {
	.views-row  {
		@include border(bottom,$light-grey);
		margin-bottom: 1em;
		padding-bottom: 1em; 
	}
	.links {
		float: right;
		margin-top: 1em; 
		a {
			@include subscribe($color-button-bg,$white);
		}
	}
	h3 {
		a {
			color: $lightergrey;
			font-family: $titillium-semibold;
			font-size: 1.8rem;
			text-transform: capitalize; 
		}
	}
	.content {
		p {
			color: $color-grey;
			font-family: $titillium;
			font-size: 1.8rem; 
			-ms-word-break: break-all; 
			word-break: break-all; 
		}
	}
}

/** home page ui **/

.popular-video,
.latest-activity,
.channel-video-listing {
	h2 {
		color: $lightergrey;
		font-family: $titillium;
		text-transform: uppercase;
		font-size: 2.2rem;
		margin-bottom: 1em;	
	}
}
.channel-video-listing {
	clear: both;
	h2 {
		@include border(top,$light-grey);
		padding-top: 1em;
		display: inline-block;
		width: 100%;
	}		
	.views-limit-grouping-group {
		@include border(bottom,$light-grey);
		clear: both;
		display: inline-block;
    margin: 0 0 1.8em;
    padding: 0 0 0.8em;
    width: 100%;
    @include mediaquery(small) {
    	border-bottom: none;
    }	
		h3 {
			background: $latestactivity-bg;
			float: left;
			height: 9.13em;
    	margin: 0 .7em 0 0;
    	padding: .8em;
    	text-align: left;
    	width: 15.3%;
    	@include mediaquery(small) {
    		@include border(bottom,$light-grey);
    		background: none;
    		height: 4em;
    		width: 100%;
    	}	
    }
  }  	
	#term-name {
		color: $dark-red;
		font-family: $titillium-semibold;
		font-size: 3rem;
		letter-spacing: -2px;
		line-height: 1em;
		@include mediaquery(medium) {
			font-size: 2.3rem;
			letter-spacing: -1px;
		}
	}
	.taxonomy_name {
		color: $lightergrey;
		font-family: $titillium-semibold;
		font-size: 1.2rem;
		height: 3.5em;
		margin-top: .5em;
		@include mediaquery(medium) {
			height: 4em;
		}
		@include mediaquery(small) {
			height: auto;
			font-size: 1.8rem;
			float: left;
		}		
	}	
	.views-limit-grouping {
		float: left;
		margin-right: 1em;
		position: relative;
    width: 15.4%;
 		@include mediaquery(medium) {
 			margin-right: .8em;
 		}
 		@include mediaquery(small) {
 			width: 100%;
 		}	 
    &:last-child {
    	margin-right: 0 !important;
    }
	}
	@include mediaquery(small) {
		.video-field-wrap {
			float: left;
			margin-right: 1em;
			position: relative;
		}
		.views-row {
			@include border(bottom,$color-border-bottom);
			padding-top: 1em;
		}
	}		
}
.popular-video {
	float: left;
	position: relative;
	width: 66%;
	@include mediaquery(small) {
		width: 100%;
	}
	.views_slideshow_main {
		img {
			opacity: .8;
			@include mediaquery(medium) {
				width: 100%;
			}
		}
		.views-slideshow-cycle-main-frame {
			@include mediaquery(medium) {
				width: 100%;
			}
		}
	}	
	.duration-time {
		background: $black;
		bottom: 65px;
		padding: .2em .4em;
		position: absolute;
		right: 1px;
		@include mediaquery(small) {
			bottom: 40px;
		}	
		.field-content {
			color:$lightergrey;
			font-family: $titillium-semibold;
			font-size: 1.8rem;
		}	
	}
	.titlewrap {
		position: absolute;
		bottom: 115px;
		left: 30px;
		@include mediaquery(small) {
			bottom: 60px;
			left: 25px;
		}
	}	
	.popular-channel,
	.videotitle {
		a {
			color: $white;
			display: inline-block;
			font-size: 2rem;
			font-family: $titillium-semibold;
			margin-bottom: .8em;
		}
	}
	.videotitle {
		a {
			font-size: 3.6rem;
			line-height: 1em;
			margin-bottom: 0;
			@include mediaquery(small) {
				font-size: 2.6rem;
			}	
		}				
	}
	.views_slideshow_pager_field_item {
		.views-content-counter {
			background: $image-play-page;
			bottom: 25px;
			border-radius: 100%;
			cursor: pointer;
			float: left;
    	height: 11px;
    	margin: 0 0.2em;
    	left: 338px;
    	position: relative;
    	text-indent: -9999px;
    	width: 11px;
    	z-index: 99;
    	@include mediaquery(medium) {
    		left: 248px;
    	}
    	@include mediaquery(small) {
    		left: 42%;
    	}
		}
		&.active {
			.views-content-counter {
			 	background: $image-active-page;
			}
		}
	}	
}	

.latest-activity {
	float: right;
	width: 32.8%;
	@include mediaquery(small) {
		float: left;
		width: 100%;
	}
	.view-newcomments {
		background: $latestactivity-bg;
		@include border(all,$color-border);
		display: inline-block;
		padding: 1em .9em;
		height: 28.8em;
		width: 100%;
		@include mediaquery(small) {
			height: auto;
		}
	}		
	.title {
		background: $white;
		padding: 1em;
		a {
			color: $color-title;
			font-size: 2rem;
			font-family: $titillium-semibold;
		}
	}
	.title--wrap {
		@include mediaquery(small) {
			float: left;
			margin-right: 1em;
			width: 50%;
		}
	}
	.activity-wrap {
		margin-top: .8em;
		.field-content {
			display: block;	
		}
	}		
	.comment-body {
		padding: 0 1em .9em 1.5em;
		@include mediaquery(small) {
			padding: 1.8em .5em .9em 1.5em;
		}	
		p,span {
			color: $lightergrey;
			font-family: $titillium;
			font-size: 1.8rem;
			margin-top: 0;
			word-break: break-all;
		}
	}
	.comment-author {
		color: $lightergrey;
		font-family: $titillium-semibold;
		font-size: 1.8rem;
		padding: 0 0 1em 1.5em;
		text-transform: capitalize;
	}			
}

/*** My Playlist and browse channel UI ***/

.myplaylist-video {
	display: inline-block;
	margin-top: 2em;
	width: 100%;
	.view-filters {
		.views-exposed-form {
			background:$latestactivity-bg;
			@include border(all,$color-border);
			padding: .7em 1em;
			margin-bottom: 2em;
			.views-exposed-widgets {
				margin: 0;
			}
		}
	}
	.views-exposed-widget {
		margin-right: 1.7em;
		padding: .5em 0 0;
		@include mediaquery(medium) {
			margin: 0 0 0 3.5em;
		}
		@include mediaquery(small) {
			margin: 0;
		}	 
		label {
			color: $lightergrey;
			float: left;
			font-family: $titillium-semibold;
			font-size: 1.8rem;
			margin-right: .6em;
			line-height: 2.8em;
			@include mediaquery(small) {
				width: 4em;
			}	
		}
		.views-widget {
			float: left;
		}
		.form-select {
			color: $color-title;
			background: $image-select-box;
			@include border(all,$color-border);
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			border-radius: 0;
			box-shadow: none;
		  font-family: $titillium;
			font-size: 1.8rem;
			height: 2.8em;
			padding-left: 1em;
		  width: 15.55em;
		  > option {
		   	color: $color-title;
		    font-family: $titillium;
				font-size: 1.8rem;
				padding-left: 1em;
		  }
		  @include mediaquery(small) {
		    width: 14.55em;
		  }
		}
		&.views-widget-sort-by {
			margin-right: 0;
			width: 31%;
			@include mediaquery(medium) {
				text-indent: 220px; 
				width: 100%;
			}	
			@include mediaquery(small) {
				text-indent: 0;
			}	 
		}	
	}
	.views-submit-button {
		@include hide(none);
	}			
	.views-row {
		float: left;
		margin: 0 1.18em 2em 0;
		position: relative;
		width: 15.3%;
		@include mediaquery(medium) {
			margin-right: .95em;
		}	
		@include mediaquery(small) {
			@include border(bottom,$light-grey);
			margin-right: 0; 
			width: 100%;
		} 
		&:nth-child(6n) {
			margin-right: 0;
		}
	}
}
.browse-channel-list {
	h3 {
		@include border(bottom,$light-grey);
		color: $dark-red;
		display: block;
		font-family: $titillium-semibold;
		font-size: 3.6rem;
		margin-bottom: 1.5em;
		padding-bottom: 1em;  	
	}
	@include mediaquery(medium) {
		&.myplaylist-video {
			.views-widget-sort-by {
				text-indent: 0; 
				width: auto;
			}
		}
	}		
	.views-row {
		&:nth-child(7n) {
			margin-right: 0;
		}
		&:nth-child(6n) {
			margin-right: 1.18em;
			@include mediaquery(medium) {
				margin-right: .95em;
			}	
			@include mediaquery(small) {
				margin-right: 0; 
			}
		}
	}	
}

/** ui for channel page **/

.subscribe-channel-grid {
	.views-row {
		float: left;
		margin: 0 .59em 3em 0;
	  width: 24.5%;
	  &:nth-child(4n) {
  		margin-right: 0;
  	}
	}	
	.channel-image,
  .subscribe-channel-wrap {
    float: none;
    margin-left: 0;
  }
  .channelname {
  	a {
	  	height: 2em;
	  	margin-top: .4em;
	  	line-height: 1em;
	  }	
  }	
  .channeldescipton {
  	height: 4em;
  	margin-top: .5em;
  } 							 
}	

.subscribe-channel-list {
	@include mediaquery(small) {
		margin-top: 1em;
	}	
	.views-row {
    display: inline-block;
    margin-bottom: 2.5em;
    width: 100%;
  }  
  .channel-image,
  .subscribe-channel-wrap {
		float: left;	
	}
  .subscribe-channel-wrap {
		margin-left: 1.5em;
		@include mediaquery(small) {
			margin-left: 0;
		}	
	}
	.channel-image {
		@include mediaquery(small) {
			margin: 0 .5em 1em 0;
		}	
	}
}

.quicktabs-ui-wrapper {
	.ui-widget-header {
		background: none;
		bottom: 52px;
		float: right;
		padding: 0;
		position: relative;
		li {
			&.ui-state-default {
				background: none;
			}
			a {
				color: $color-icon;
				padding: 0;
				font-size: 0;		
			}	
			&:last-child {
				a:before {
					content: "\f00a";
					font-family: $fontawesome;
					font-size: 2.8rem;
				}
			}
			&:first-child {
				float: right;
				margin-left: 1.5em;
				a:before {
					content: "\f00b";
					font-family: $fontawesome;
					font-size: 2.8rem;
				}
			}
		}
		.ui-state-active {
			a {
				color: $color-icon-active;	
			}
		}
	}
	.ui-tabs-panel {
		display: inline-block;
		padding: 0;
		width: 100%;
	}
}

/** upload video page **/

#node-edit {	
	#edit-title{
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.6rem;
	}
	label {
		float: left;
		margin-right: 1em;
	  margin-top: .5em;
		width: 11em !important;
	}
	.form-control, 
	.form-control:focus  {
		box-shadow: none;
		width: 100%;
	}
	.form-select {
		width: 35%;
	}
	.form-textarea-wrapper {
		width: 100%;
	}
	.col-md-4  {
		clear: both;
	}
	textarea.form-control {
		height: 8.8em;
	}
	input[type="checkbox"] {
		margin-top: .8em; 
	}
}
#panopoly-page-node-form {	
	.image-widget {
		.form-submit {
			@include subscribe($color-button-bg,$white);
			-webkit-border-radius: 0; 
			border-radius: 0; 
			border: none;
			box-shadow: none;    
			padding: .3em 1.5em;
			margin-top: .5em;
			height: auto;
			line-height: 1.2em; 
			&:hover {
				background: $color-button-bg;
				border: none;
			}
		}
	}
	.menu-parent-select  {
		width: 100%;
	}
}		
#panopoly_pages_landing_page_wizard,
#file-entity-file-type-form {
	.form-textarea-wrapper,
	.form-text,
	fieldset {
		width: 50%;
	}
}	
.form-submit {
	@include subscribe($color-button-bg,$white);
	-webkit-border-radius: 0; 
	border-radius: 0; 
	border: none;    
	padding: .3em 1.5em;
	margin-top: 2em;
	&:hover {
		background: $color-button-bg;
		border: none;
	}
}


/** create channel page **/

#taxonomy-form-term {
	.form-item {
		label {
			color: $color-field-name;
			float: none;
			font-family: $titillium-semibold;
			font-size: 1.4rem;
			text-transform: uppercase;
		}
		.form-control {
			@include border(all,$color-field-border);
			-webkit-box-shadow: none; 
			box-shadow: none; 
			-webkit-border-radius: 0; 
			border-radius: 0; 
			font-size: 1.4rem; 
			font-family: $titillium;
			height: 3.2em;
			width: 28.8em;     
		}
		textarea.form-control {
			height: 8.8em;
		}
	}
	.grippie,
	.form-required,
	fieldset {
		@include hide(none); 
	}
	.form-submit,
	.btn {
		@include subscribe($color-button-bg,$white);
		-webkit-border-radius: 0; 
		border-radius: 0; 
		border: none;    
		padding: .3em 1.5em; 	
	}
	.btn {
		margin-top: .5em;
	}	
}

.search-page {
	.views-row {
		display: inline-block;
		margin-bottom: 1em;
		width: 100%;
	}
	.video-field-wrap {
		float: left;
		margin-right: 1em;
		width: 180px; 
	}
	.view-empty {
		p {
			color: $dark-red;
		}
	}
}
