/** footer rules **/

.footer-wrap {
	background:	$light-black;
	.footer {
		border-top:	none;
	}
	span,a {
		color:	$white;
		font-family: $titillium;
		font-size:	1.4rem;
		margin: 0;
		padding: .7em 0 .8em;
	}
	a {
		text-decoration: underline; 
	}
	span {
		display: block;
	}
}