/** header rule **/
.header-wrap {
	background: $light-black;
	.navbar {
		background: none;
		border: none;
		margin: 0 auto;
		padding: 0;
		.name  {
			color: $white;
			font-family: $titillium-semibold;
			font-size: 2.57rem;
			margin-top: .7em;
    	padding: 0;
		}
		&.container {
			max-width: 1160px;
		}
		.logo {
			margin: .2em 0;
    	padding: 0 .5em 0 0;
    	@include mediaquery(small) {
    		display: block;
    		float: none !important;
    	}
		}
	}
}
.nav-tabs {
	@include border(bottom,$light-grey);
	margin-bottom: 1em;
	li {
		a {
			color: $blue;
			font-family: $titillium-semibold;
			font-size: 1.8rem;
			margin-right: 2em;
			padding: .45em 0;
			border: none;
			&.active {
				background: none;
				border: none;
				border-bottom: 2px solid $ligt-blue; 
				color: $blue;
			}
			&:hover,
			&:visited,
			&:focus {
				background: none;
				border: none;
			}
		}	
		&.active {
			a:hover, 
			a:focus {
				background: none;
				border: none;
				border-bottom: 2px solid $ligt-blue; 
				color: $blue;	
			}
		}		
	}
}
.header {
	.navbar-collapse {
		padding: 0;
	}	
	.menu  {
		margin: 2em 0 1em 0;
		@include border(bottom,$light-grey);
		width: 100%;
		@include mediaquery(small) {
			border-bottom: none;
			margin-top: 0;
			background: $latestactivity-bg;
			padding: 1em 2em;
		}	
		a {
			color: $blue;
			font-family: $titillium-semibold;
			font-size: 2.2rem;
			margin-bottom: -1px;
			margin-right: 2em;
			padding: .45em 0;
			text-transform: uppercase;
			@include mediaquery(small) {
				margin: 0;
				padding: .7em 0;
			}	
			&:hover, 
			&:focus, 
			&:visited {
				background: none;
			}
			&.active {
				@include border(bottom,$ligt-blue,2px);
				@include mediaquery(small) {
					border-bottom: none;
				}	
			}	
		}
		li {
			@include mediaquery(small) {
				float: none;
				@include border(bottom,$color-menu-border,2px);
			}
			&.last {
				@include mediaquery(small) {
					border-bottom: none;
				}	
			}
		}
	}
	.nav_header {
		float: right;
		width: 50%; 
		@include mediaquery(small) {
			width: 100%;
		}	
		.region-nav-header {
			float: left;
			margin-top: .3em; 
		}	
		.form-control,button {
			background: $color-seach-bg;  
			box-shadow: none;
			border-radius: 0;
			border: none;
			color: $color-username;
			font-size: 1.8rem;
			font-family: $titillium;
			padding: .24em .7em .25em;
			text-transform: uppercase;  
		}
		.input-group {
			width: 16.7em;
		}
	}	
	.user-menu {
		float: right;	 
		.navbar-nav {
			border: none;
			margin: 0; 
		}
		.menu {
			@include mediaquery(small) {
				background: none;
				padding: 0;
			}	
		}	
		li {
			@include mediaquery(small) {
				border-bottom: none;
			}	
			&.first {
				margin-right: .5em;	
				a {
					float: left; 
				}
			}
			a {
				color: $color-username;
				font-size: 1.4rem;
				font-family: $titillium;
				line-height: 2.5em;
				margin: .3em 0 0 0; 
				text-transform: capitalize;
				&:hover {
					color: $color-username; 
				}
			}	
		}		
		.user-picture {
			float: right;
			margin-left: .5em;
			img {
				@include border(all,$color-username,2px);
				-webkit-border-radius: 100%; 
				border-radius: 100%;
				height: 35px;
				width: 35px;     
			}
		}		
		.active {
			border-bottom: none;
			a,a:focus,a:hover {
				background: none;
				border-bottom: none;
				color: $color-username;
			}
		}
	}				
}

#views-exposed-form-trrybe-search-page-page {
	.views-exposed-widget {
		padding-right: 0;
	}
	.form-submit {
		margin-top: 0;
		font-size: 0;
		&:before {
			content: '\f002';
			display: block;
			font-family: $fontawesome;
			font-size: 2rem;
			padding: .2em .3em .1em 0;  
		}
	}
	.views-exposed-widgets {
		margin: 0;
	}
	.form-control {
		padding-right: 0; 
		width: 15em;
	}
}

#block-quicktabs-grid-list,
.page-admin-structure-taxonomy-channels-add,
.page-home {
	.page-header,h2 {
		@include hide(none);
	}
}

.breadcrumb {
	@include hide(none);
}

.secondary {
	li:nth-child(2n) {
		@include hide(none);
	}
}

.front {
	.inner-wrap {
		h1 {
			@include hide(none);
		}
	}
}	

.video-field-wrap {
	img {
		height: 125px;
		@include mediaquery(medium) {
			height: 102px;
		}
		@include mediaquery(small) {
			height: 125px;
			max-width: 180px;
		}	
	}
}

.video-field {
	height: 100px;
	width: 170px;
}

.logged-in {
	.user-menu {
		li.first {
			@include mediaquery(small) {
				@include hide(none);
			}
		}
	}	
}