/*
 * ##### Sasson - advanced drupal theming. #####
 *
 * SASS mixins
 * http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#mixins
 *
*/
@mixin hide($none) {
  display: $none;
}

@mixin border($direction, $color, $thickness:1px, $type:solid) {
  @if $direction == top {
    border-top: $thickness $type $color;
  }
  @else if $direction == bottom {
    border-bottom: $thickness $type $color;
  }
  @else if $direction == left {
    border-left: $thickness $type $color;
  }
  @else if $direction == right {
    border-right: $thickness $type $color;
  }
  @else if $direction == all {
    border: $thickness $type $color;
  }
}

@mixin subscribe($background,$color) {
  background: $background;
  color: $color;
  font-family: $titillium-semibold;
  font-size: 1.24rem;
  letter-spacing: 0;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
}

/*===================== Media Queries mixing ======================*/

@mixin min_width_mediaquery($min-width){
  @media only screen and (min-width:$min-width){
    @content;
  }
}

@mixin max_width_mediaquery($max-width){
  @media only screen and (max-width:$max-width){
    @content;
  }
}

@mixin min_and_max_width_mediaquery($min-width, $max-width){
  @media all and (min-width:$min-width) and (max-width:$max-width){
    @content;
  }
}

@mixin mediaquery($point) {
  @if $point == large {
    @media (max-width: 1159px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 1024px) { @content; }
  }  
  @else if $point == small {
    @media (max-width: 768px)  { @content; }
  }
}