/**
 * variables for all patial files.
**/

$white: #fff;
$black: #000;
$light-black: #4C4B4C;
$grey: #6e6e6e;
$light-grey: #B1B1B1;
$color-grey: #959595;
$dark-red: #990000;
$blue: #333399;
$ligt-blue: #8666AF;
$lightergrey: #666666;
$color-graybg: #F7F7F7;
$latestactivity-bg: #f5f5f5;
$color-border: #ececec;
$color-title: #999;
$color-time: #a8a8a6;
$color-button-bg: #535353;
$color-icon-active: #ddd;
$color-icon: #040707;
$color-category-border: #b2b2b2;
$color-username: #cccccc;
$color-seach-bg: #747474;
$color-field-name: #333;
$color-field-border: #bababa;
$color-border-bottom: #d8d8d8;
$color-menu-border: #979797;
$color-submenu-border: #e4e4e4;

$titillium: "Titillium Web Regular", sans-serif;
$titillium-semibold: "Titillium Web SemiBold",sans-serif;
$fontawesome: "FontAwesome";

$image-play-page: image-url("play-page.png") no-repeat scroll 0 0 rgb(51,51,51);
$image-active-page: image-url("active-page.png") no-repeat scroll 0 0 rgb(179,179,179);
$image-select-box: image-url("down-arrow.png") no-repeat scroll 95% center #fff;